h2 {
  font-size: calc((2.8 - 1) * 1.2vw + 1rem);
}

.content-small {
  font-size: calc((1 - 1) * 1.2vw + 1rem);
}

.content-wrapper {
  padding-right: 20vw;
  padding-left: 20vw;
  margin: 0 auto;
  justify-content: center;
  padding-top: 15vmax;
  padding-bottom: 10vmax;
}

.header-nav-item {
  font-size: calc((1.2 - 1) * 1.2vw + 1rem);
}

.my-site {
  font-family: 'Suranna', serif;
  background-color: black;
}

.page-section {
  color: #fff;
}

.section-about-link {
  color: #a8a6a1;
}

.section-navbar {
  color: #fff;
}

.section-title {
  font-size: calc((2 - 1) * 1.2vw + 1rem);
}
