body {
  color: #fff;
  font-family: 'Cormorant Infant', serif;
  background-color: black;
}

footer {
  padding-right: 20vw;
  padding-left: 20vw;
  margin: 0 auto;
  justify-content: center;
  padding-top: 2.5vmax;
  padding-bottom: 2.5vmax;
  text-align: center;
}

h2 {
  font-size: calc((3 - 1) * 1.2vw + 1rem);
}

h3 {
  font-size: calc((2.5 - 1) * 1.2vw + 1rem);
}

.content-small {
  font-size: calc((1 - 1) * 1.2vw + 1rem);
  font-weight: lighter;

}

.content-md {
  font-size: calc((1.125 - 1) * 1.2vw + 1rem);
  font-weight: lighter;
}

.content-wrapper {
  padding-right: 10vw;
  padding-left: 20vw;
  margin: 0 auto;
  justify-content: center;
  padding-top: 15vmax;
  padding-bottom: 10vmax;
}

.footer-icon {
  max-width: 4%;
  padding-left: 0.2rem;
  padding-right: 0.2em;
}

.header-nav-item {
  font-size: calc((1.2 - 1) * 1.2vw + 1rem);
}

.page-section {
  padding-right: 15vw;
  padding-left: 20vw;
  margin: 0 auto;
  justify-content: center;
  padding-top: 6.5vmax;
  padding-bottom: 6.5vmax;
}

.section-about-link {
  color: #a8a6a1;
}

.section-navbar {
  color: #fff;
}

.section-title {
  font-size: calc((2 - 1) * 1.2vw + 1rem);
}
